## Wrangling parks data

### Goals of the Task


Each row in the cultural spaces data set is a Seattle venue such as a cinema, art gallery, theatre or music venue.  

The aim of this task is to remove cultural spaces from the data that we donâ€™t have location information against, plus any spaces that were closed before the period of our cycle hire data sample. Then, using the range of longitude and latitude found in the cycle hire data, you will eliminate cultural spaces that are not located near cycle hire stations. 

After this you will use an aggregation method in pandas to review the number of cultural spaces in your remaining data set, summarizing these venues by neighbourhood and cultural purpose.

#### Step 1 : use pandas to read the cultural spaces csv as a data frame
- import pandas as pd 
- use pandas read_csv to create a culturalspaces data frame 
- ensure you are pointing at the correct file path for the data source (you may have to navigate in your notebook!)

#### Step 2 : drop unusuable rows

- first, using the pandas dropna() method, remove from the culturalspaces data frame any rows which have null in either the Longitude or Latitude columns 
- next, drop rows of culturalspaces which were closed prior to the first date in our cycle hire data (Oct 2014) using any pandas filter approach 
- reset the index of your culturalspaces data frame after dropping rows 


https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/

#### Step 3 : create a data frame from the cycle hire station data to get the ranges of longitude and latitude 

- use pandas read_csv to create a second data frame from seattle_cycles_station.csv file 
- use max() and min() to identify the range of longitude and latitude values in the cycle station data

#### step 4: drop rows which are outside of the cycle hire data range 

- use any pandas filter method to retain rows in the culturalspaces dataframe which are inside the relevant long/lat range of the cycle hire stations 
- reset the index of your culturalspaces dataframe after dropping rows

#### step 5: simplify and fill gaps in location using python text analysis methods 

this data is quite text heavy, so you will now use methods you encountered in topic 8 to process the data 

- simplify the cultural space category by using any  pandas string method to keep the first word of the Dominant Discipline column, creating a new column 'purpose'
(eg 'Arts/Cultural Training or Education' will become simply 'Arts' in the purpose column )

- using a similar method, simplify the neighbourhood column, creating a neighbourhood_clean column, and amend any typos you see 
(eg 'University District and Laurelhurst/Sand Point' will be classed as 'University District') 

- fill in any gaps in the neighbourhood_clean column as 'unknown neighbourhood'

#### step 6: summarise the cultural spaces by neighbourhood and purpose 

- use the pandas group_by() method to summarise the number of spaces by (known) neighbourhood and cultural purpose