## Wrangling parks data

### Goals of the Task


The parks and recreation data consists of two data sets. 

- The smaller data set contains address, longitude and latitude for Seattle parks (each row is a park). 
- The second data set (features) indicates which facilities a park has (each row is a facility in a park) such as picnic areas, basketball courts and football pitches. 

The aim of this task is to combine and reshape the data into a wide rather than long frame where each row is a park, and there is a Boolean column for each feature type.

#### Step 1 : use pandas to read the two parks & recreation files as data frames
- import pandas as pd 
- use pandas read_csv to create a parks data frame and a facilities data frame 
- ensure you are pointing at the correct file path for the data source (you may have to navigate in your notebook!)

#### Step 2 : reformat the column headers in lower case 

the data sets have some inconsistencies in the header case on columns so this should be fixed using the str.lower() method. 

df.columns = df.columns.str.lower() function

#### Step 3 : join the data frames together 

use the pandas merge method to combine the two data frames into a new single data frame, using the pmaid column as the merge key. 

https://www.geeksforgeeks.org/merge-two-pandas-dataframes-by-matched-id-number/

#### step 4: drop unneccesary columns

the columns we want to keep in the resulting data frame are 

- zip code
- x and y coords 
- location id 
- park name 
- feature description 

drop all remaining columns

#### step 5: turn the feature column into multiple boolean columns 

use the pandas pivot_table method, pivot the feature desciption column into multiple columns which will change the shape of the data from long to wide

- pd.pivot_table(df, index=[park], columns=[feature],aggfunc="count")

replace the NaN entries in the resulting df with 0 with the pandas fillna() method

#### Step 6: validate the data
- use EDA techniques including visualisation to validate the reshaping process