## Wrangling pet license data 

### Goals of the Task


Each row in the pet license data set is a pet in the Seattle area, with the zipcode. 
The aim of this task is to reshape and filter the data table into a summary of the number of dogs registered per zip code. this is potentially interesting data because it tells us about how many people are using bikes to exercise or are more likely to be exercising on foot.

#### Step 1 : use pandas to read the pet license csv file as a data frame 
- import pandas as pd 
- use pandas read_csv to create a pets data frame
- ensure you are pointing at the correct file path for the data source (you may have to navigate in your notebook!)

#### Step 2 : drop unnecessary columns 

Remove the the name, license date and breed columns from the dataframe using a slice or selection method. 

Use head() and info() to preview the remaining dataframe

#### step 3: filter to dogs only and do some text analysis

- we only want to keep those pets which are dogs (not cats or livestock) so apply any pandas filtering method to keep the rows where species = Dogs
-  the columns animal_s_name and primary_breed contain useful text data. Use any of the text analysis methods you met in week 8 to find out: 
    * what are the 3 most common dog names in seattle?
    * what is the most common dog name for Dachsunds in seattle?

#### step 4: filter to dogs in relevant zipcodes 

- drop any rows from your data frame which dont have zipcodes
- now, drop any rows that are linked to zipcodes which are either invalid or dont match the zipcodes in the Seattle cycle trip data - you can use the reference list below:


98109
98102
98121
98101
98122
98112
98104
98105

- remember to update the index of your data frame after dropping rows

#### step 4: total up the dog licenses by zipcode 

- using the group by pandas method on your data frame
- summarise the number of dogs per relevant zipcode

#### Step 5: validate the data
- use EDA techniques including visualisation to validate the aggregation from the previous step