#### obtain data

In [15]:
import pandas as pd 
from scipy import stats

In [30]:
df= pd.read_csv('CRM Call Center Logs.csv')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date received  3999 non-null   object
 1   Complaint ID   2504 non-null   object
 2   rand client    2504 non-null   object
 3   phonefinal     3999 non-null   object
 4   vru+line       3015 non-null   object
 5   call_id        3015 non-null   float64
 6   priority       3015 non-null   float64
 7   type           3015 non-null   object
 8   outcome        3015 non-null   object
 9   server         3015 non-null   object
 10  ser_start      3999 non-null   object
 11  ser_exit       3999 non-null   object
 12  ser_time       3999 non-null   object
dtypes: float64(2), object(11)
memory usage: 406.3+ KB

In [32]:
df.head()

,Date received,Complaint ID,rand client,phonefinal,vru+line,call_id,priority,type,outcome,server,ser_start,ser_exit,ser_time
0,27/03/2017,CR2406263,C00004587,977-806-9726,AA0103,34536.0,0.0,NW,AGENT,MICHAL,13:34:11,13:40:23,00:06:12
1,27/03/2017,CR2405641,C00003328,322-598-7152,AA0205,34537.0,0.0,PS,AGENT,TOVA,10:58:22,11:16:10,00:17:48
2,27/03/2017,CR2405629,C00001685,508-311-5237,AA0110,34538.0,2.0,PS,AGENT,YIFAT,13:00:54,13:13:31,00:12:37
3,23/03/2017,CR2400594,C00001945,265-394-2727,AA0113,34540.0,2.0,PS,AGENT,AVNI,16:18:21,16:19:40,00:01:19
4,22/03/2017,CR2399607,C00004303,206-008-0460,AA0102,34541.0,1.0,PS,AGENT,STEREN,14:48:22,14:55:19,00:06:57

In [33]:
# pull seconds column for ser_time 
df[['hours', 'minutes', 'seconds']] = df["ser_time"].apply(lambda x: pd.Series(str(x).split(":")))

In [64]:
df.head()

,Date received,Complaint ID,rand client,phonefinal,vru+line,call_id,priority,type,outcome,server,ser_start,ser_exit,ser_time,hours,minutes,seconds,call_seconds
0,27/03/2017,CR2406263,C00004587,977-806-9726,AA0103,34536.0,0.0,NW,AGENT,MICHAL,13:34:11,13:40:23,00:06:12,00,6.0,12.0,372.0
1,27/03/2017,CR2405641,C00003328,322-598-7152,AA0205,34537.0,0.0,PS,AGENT,TOVA,10:58:22,11:16:10,00:17:48,00,17.0,48.0,1068.0
2,27/03/2017,CR2405629,C00001685,508-311-5237,AA0110,34538.0,2.0,PS,AGENT,YIFAT,13:00:54,13:13:31,00:12:37,00,12.0,37.0,757.0
3,23/03/2017,CR2400594,C00001945,265-394-2727,AA0113,34540.0,2.0,PS,AGENT,AVNI,16:18:21,16:19:40,00:01:19,00,1.0,19.0,79.0
4,22/03/2017,CR2399607,C00004303,206-008-0460,AA0102,34541.0,1.0,PS,AGENT,STEREN,14:48:22,14:55:19,00:06:57,00,6.0,57.0,417.0

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date received  3999 non-null   object
 1   Complaint ID   2504 non-null   object
 2   rand client    2504 non-null   object
 3   phonefinal     3999 non-null   object
 4   vru+line       3015 non-null   object
 5   call_id        3015 non-null   float64
 6   priority       3015 non-null   float64
 7   type           3015 non-null   object
 8   outcome        3015 non-null   object
 9   server         3015 non-null   object
 10  ser_start      3999 non-null   object
 11  ser_exit       3999 non-null   object
 12  ser_time       3999 non-null   object
 13  hours          3999 non-null   object
 14  minutes        3999 non-null   float64
 15  seconds        3999 non-null   float64
 16  call_seconds   3999 non-null   float64
dtypes: float64(5), object(12)
memory usage: 531.2+ KB

In [37]:
 df['minutes']= df['minutes'].astype(float).fillna(0.0)

In [38]:
 df['seconds']= df['seconds'].astype(float).fillna(0.0)

In [40]:
df['call_seconds']= (df['minutes']*60)+df['seconds']

In [29]:
df.head()

,Date received,Complaint ID,rand client,phonefinal,vru+line,call_id,priority,type,outcome,server,ser_start,ser_exit,ser_time,hours,minutes,seconds,call_seconds
0,27/03/2017,CR2406263,C00004587,977-806-9726,AA0103,34536.0,0.0,NW,AGENT,MICHAL,13:34:11,13:40:23,00:06:12,00,06,12,0606060606060606060606060606060606060606060606...
1,27/03/2017,CR2405641,C00003328,322-598-7152,AA0205,34537.0,0.0,PS,AGENT,TOVA,10:58:22,11:16:10,00:17:48,00,17,48,1717171717171717171717171717171717171717171717...
2,27/03/2017,CR2405629,C00001685,508-311-5237,AA0110,34538.0,2.0,PS,AGENT,YIFAT,13:00:54,13:13:31,00:12:37,00,12,37,1212121212121212121212121212121212121212121212...
3,23/03/2017,CR2400594,C00001945,265-394-2727,AA0113,34540.0,2.0,PS,AGENT,AVNI,16:18:21,16:19:40,00:01:19,00,01,19,0101010101010101010101010101010101010101010101...
4,22/03/2017,CR2399607,C00004303,206-008-0460,AA0102,34541.0,1.0,PS,AGENT,STEREN,14:48:22,14:55:19,00:06:57,00,06,57,0606060606060606060606060606060606060606060606...

#### remove phantom and hangup calls

In [44]:
df.outcome.unique()

array(['AGENT', 'HANG', 'PHANTOM', nan], dtype=object)

In [45]:
agentdf=df[df['outcome'] == 'AGENT']

In [46]:
agentdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 3014
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date received  2580 non-null   object
 1   Complaint ID   2504 non-null   object
 2   rand client    2504 non-null   object
 3   phonefinal     2580 non-null   object
 4   vru+line       2580 non-null   object
 5   call_id        2580 non-null   float64
 6   priority       2580 non-null   float64
 7   type           2580 non-null   object
 8   outcome        2580 non-null   object
 9   server         2580 non-null   object
 10  ser_start      2580 non-null   object
 11  ser_exit       2580 non-null   object
 12  ser_time       2580 non-null   object
 13  hours          2580 non-null   object
 14  minutes        2580 non-null   float64
 15  seconds        2580 non-null   float64
 16  call_seconds   2580 non-null   float64
dtypes: float64(5), object(12)
memory usage: 362.8+ KB

### HYPOTHESIS TESTS
##### Qu 1 - were there significant differences between call times depending on the priority  (0,1,2)?

In [47]:
agentdf['priority'].unique()

array([0., 2., 1.])

In [48]:
prioritytime=agentdf[["priority","call_seconds"]]

In [49]:
prioritytime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 3014
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   priority      2580 non-null   float64
 1   call_seconds  2580 non-null   float64
dtypes: float64(2)
memory usage: 60.5 KB

In [50]:
prioritytime.head()

   priority  call_seconds
0       0.0         372.0
1       0.0        1068.0
2       2.0         757.0
3       2.0          79.0
4       1.0         417.0

In [53]:
prioritytime.groupby('priority').mean()

          call_seconds
priority
0.0         668.169367
1.0         770.356968
2.0         706.389914

In [54]:
prioritytime.groupby(['priority'])['call_seconds'].std()

priority
0.0    385.398794
1.0    421.925656
2.0    404.426401
Name: call_seconds, dtype: float64

In [55]:
prioritytime.groupby(['priority'])['call_seconds'].count()

priority
0.0    1358
1.0     409
2.0     813
Name: call_seconds, dtype: int64

In [63]:
import scipy.stats as stats

In [65]:
priority1=df[df['priority'] == 1] 
priority2=df[df['priority'] == 2]

In [67]:
group1 = priority1.call_seconds
group2 = priority2.call_seconds

In [70]:
group2

2        757.0
3         79.0
13       903.0
15       768.0
16       872.0
         ...
2979     929.0
2983     950.0
2991    1174.0
2993     143.0
2994    1196.0
Name: call_seconds, Length: 875, dtype: float64

In [71]:
group1

4       417.0
11      222.0
17      913.0
34      121.0
38      345.0
        ...
2967     76.0
2990    586.0
3002    710.0
3007    518.0
3013    665.0
Name: call_seconds, Length: 484, dtype: float64

In [72]:
prioritytime.head()

   priority  call_seconds
0       0.0         372.0
1       0.0        1068.0
2       2.0         757.0
3       2.0          79.0
4       1.0         417.0

In [74]:
import numpy as np

In [75]:
#find variance for each group
print(np.var(group1), np.var(group2))

227155.16597226966 184336.59996734693

In [76]:
#The ratio of the larger sample variance to the smaller sample variance is
227155/184336
#which is less than 4. This means we can assume that the population variances are equal.

1.2322877788386424

In [77]:
#perform two sample t-test with equal variances
stats.ttest_ind(a=group1, b=group2, equal_var=True)
#https://www.statology.org/two-sample-t-test-python/

Ttest_indResult(statistic=-0.20148808328296045, pvalue=0.840347144339789)

https://www.graphpad.com/quickcalcs/ttest1/?format=SD

##### Qu 2 - were there significant differences between call times depending on the server?

In [19]:
agentdf['server'].unique()

array(['MICHAL', 'TOVA', 'YIFAT', 'AVNI', 'STEREN', 'ANAT', 'MIKI',
       'DORIT', 'MORIAH', 'GILI', 'KAZAV', 'YITZ', 'DARMON', 'SHLOMO',
       'AVIDAN', 'ZOHARI', 'NO_SERVER', 'SHARON', 'IDIT', 'BENSION',
       'GELBER', 'ELI', 'BASCH', 'NAAMA', 'PINHAS'], dtype=object)

In [20]:
agentstime=agentdf[["server", "ser_time"]]

In [21]:
agentstime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 3014
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   server    2580 non-null   object
 1   ser_time  2580 non-null   object
dtypes: object(2)
memory usage: 60.5+ KB